---
import { useTranslations } from '../i18n/utils';

// This is a custom redirect page to avoid Astro's built-in 2-second delay
// when prefixDefaultLocale is true in astro.config.mjs
//
// defaultLocale must match astro.config.mjs
// TODO: find proper way to read from config
const defaultLocale = "fr";
const delay = 0;  // Delay in seconds before redirect
const t = useTranslations(defaultLocale);
---
<!DOCTYPE html>
<title>{t('title')}</title>
<meta http-equiv="refresh" content={`${delay};url=/${defaultLocale}/`} />
<meta name="robots" content="noindex" />
<link rel="canonical" href={`/${defaultLocale}/`} />
<body>
  <a href={`/${defaultLocale}/`}>Redirecting from <code>/</code> to <code>/{defaultLocale}/</code></a>
</body>
  